<div style="display: flex; flex-direction: row; padding: 3px;">
    <div style="display: flex; flex-direction: column; background-color: bisque; border-right: 3px solid #111;">
        <a [routerLink]="['./']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Static Render</a> 
        <a [routerLink]="['./dynamic-render']" routerLinkActive="active">Dynamic Render</a>
        <a [routerLink]="['./dynamic-render-placeholder']" routerLinkActive="active">Dynamic Render(with placeholder)</a>           
    </div>
    <div style="display: flex; flex-direction: column;  margin-left: 10px;">
        <router-outlet></router-outlet>
    </div>
</div>